/*--------------------------------------------------------------
  # Normalize styles
  --------------------------------------------------------------*/
html {
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  overflow-x: hidden;
}

* {
  line-height: 1.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*--------------------------------------------------------------
  # Generic styles
  --------------------------------------------------------------*/
html {
  color: #343a40;
  font-size: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

a {
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: all 0.2s ease;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: black;
  text-decoration: none;
}


/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/

.navbar {
  padding: 1rem;
  height: 64px;
  transition: all 0.25s ease;
  background-color: #e4038A;
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 64px;
    right: 0;
    width: 100vw;
    padding: 1rem 2rem;
    opacity: 0.95;
    background-color: #e4038A;
  }

  .navbar-collapse .navbar-nav {
    text-align: center;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.65);
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

/* Nav Menu Essentials */

.hero {
  height: 65vh;
  max-height: 90vh;
  position: relative;
  overflow: hidden;
}

.hero-bg-image {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero-bg-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: left;
}

@media (min-width: 767px) {
  .hero {
    height: 85vh;
  }

  .hero-bg-image img {
    object-fit: cover;
  }
}

#main-overlay{
  background-image: linear-gradient(#ea3ecd75,#ff00e061);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: 2;
}

.categories {
	text-align: center;
}
ul.category-list {
	list-style: none;
    display: block;
    margin: 0 auto 2rem;
    padding: 0 2rem;
}

ul.category-list li {
    display: inline-block;
}
ul.category-list li {
	display: inline-block;
	margin: 0 10px 40px 10px;
}
ul.category-list li a {
	color: #555;
	font-size: 16px;
	font-weight: 400;
	padding: 8px 16px;
	background: #e6e6e6;
	border: 0;
	border-radius: 4px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: all 0.3s;
}
ul.category-list li a.active {
	background: #e4038a;
	color: #fff;
}
ul.category-list li a:hover {
	background: #e4038a;
	color: #fff;
}
#shop {
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 50px;
  text-align: center;
}

.row {
  margin-top: 30px;
  height: 320px;
}

#shop h2 {
  font-style: italic;
}


.overlay1 {
  width: 100%;
  height: 100%;
  background-color: rgba(234, 62, 205, 0.75);
  position: absolute;
  top: -100%;
  left: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.card-image:hover > .overlay1 {
  transform: translatey(320px);
  transition: 0.5s ease;
  opacity: 1;
}
.overlay1 p {
  color: white;
  font-size: 0.875rem;
}

.overlay1 .btn-link {
  font-size: 1.2rem;
  display: block;
}

#buyBtn a:hover {
  color: inherit !important;
}

.card-image {
  cursor: pointer;
  height: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

#img4 {
  background-image: url(images/5.jpg);
}

#img5 {
  background-image: url(images/6.jpg);
}
#img6 {
  background-image: url(images/7.jpg);
}
#img7 {
  background-image: url(images/8.jpg);
}
#img8 {
  background-image: url(images/9.jpg);
}
#img9 {
  background-image: url(images/10.jpg);
}
#img10 {
  background-image: url(images/11.jpg);
}
#img11 {
  background-image: url(images/12.jpg);
}
#img12 {
  background-image: url(images/13.jpg);
}

#f1 {
  background-image: url(images/f1.jpg);
}
#f2 {
  background-image: url(images/f3.jpg);
}
#f3 {
  background-image: url(images/f4.jpg);
}
#f4 {
  background-image: url(images/f5.jpg);
}
#f5 {
  background-image: url(images/f6.jpg);
}
#f6 {
  background-image: url(images/f7.jpg);
}
#f7 {
  background-image: url(images/f8.jpg);
}
#f8 {
  background-image: url(images/f9.jpg);
}
#f9 {
  background-image: url(images/f10.jpg);
}
#c1 {
  background-image: url(images/c1.jpg);
}
#c2 {
  background-image: url(images/c2.jpg);
}
#c3 {
  background-image: url(images/c3.jpg);
}
#c4 {
  background-image: url(images/c4.jpg);
}
#c5 {
  background-image: url(images/c5.jpg);
}
#c6 {
  background-image: url(images/c6.jpg);
}
#c7 {
  background-image: url(images/c7.jpg);
}
#c8 {
  background-image: url(images/c8.jpg);
}
#c9 {
  background-image: url(images/c9.jpg);
}
#t1 {
  background-image: url(images/t1.jpg);
}
#t2 {
  background-image: url(images/t2.jpg);
}
#t3 {
  background-image: url(images/t3.jpg);
}
#t4 {
  background-image: url(images/d1.jpg);
}
#t5 {
  background-image: url(images/d2.png);
}

#t6 {
  background-image: url(images/d3.jpg);
}


#about {
  margin: 3rem auto;
  width: 100%;
  height: 400px;
  background-image: url(images/2.jpg);
  background-attachment: fixed;
  background-size: cover;
}
#overlay {
  width: 100%;
  height: 400px;
  color: #fdfdfd;
  background-color: rgb(0, 0, 0, 0.67);
  margin: 0;
  text-align: center;
  font-style: italic;
}
#overlay h5 {
  margin-top: 100px;
}
#overlay #email {
  cursor: pointer;
}
.head {
  text-align: center;
}
#contact {
  width: 100%;
  height: 100%;
  margin: 3rem auto;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 70px;
  text-align: center;
  color: white;
  padding: 8px;
  background-color: #e4038a;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
